<div class="search-page">
    <div class="container">
        <% if @tweets.exists? %>
          <h1>Results</h1>
        <% else %>
          <h1>Oop! No matching posts ...</h1>
        <% end %>
        <%= render 'shared/timeline' %>
    </div>
</div>